<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to centipair</title>
   <!-- Bootstrap -->
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <!-- TODC Bootstrap theme -->
   <link href="/css/todc-bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{servlet-context}}/">centipair</a>
        </div>
        <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
            <li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="om-notifier">
      
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    
    


    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    
    {% endblock %}
  </body>
</html>

